<div class="row" id="row1">
  <div class="col-6">
    <p>
      <span style="font-size: 30px;font-family: Lucida Console; color: #943126;">PSD TO <span style="color: blue">HTML</span> & more..</span><br>
      <span style="margin-left:110px; font-size: 18px; font-family: Verdana; color:#909497;">Professional yet Affordable</span><br>
      <span style="margin-left:165px; font-size: 13px; font-family: Verdana; color:#909497;">100% money back guaranty</span><br>
            <button class="button1">View Examples</button>
    </p>
  </div>

  <div class="col-6">
    <figure class="figure">
            <img src="assets/images/adobe.png" alt="adobe" width="25%" height="20%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/images/arrow.png" alt="arrow" width="25%" height="20%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/images/greater.png" alt="greater" width="25%" height="20%">
        </figure>
  </div>
</div>
