<br><br>
    <div class="row" id="divi">
    	<div class="col-9">
    		<div class="col-8">
    			<p style="margin-left: 70px;text-align: justify;">
    				<img src="assets/images/play.png" alt="play" width="3%" height="3%">&nbsp;&nbsp;
    				<span style="color:#943126; font-size:25px; font-family:Tahoma;"><b>What We Do!</b></span><br><br>
    				<span style=" text-align:justify-all; line-height: 20px; color: #909497;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span><br><br>
    				<span style="color:#943126;"><b>Read more...</b></span>
    			</p>
    		</div><br>
    		<hr style="width: 60%; margin-left: 60px">
    		<div class="col-8"><br>
    			<p style="margin-left: 70px;">
    				<img src="assets/images/play.png" alt="play" width="3%" height="3%">&nbsp;&nbsp;
    				<span style="color:#943126; font-size:25px; font-family:Tahoma;"><b>See Examples</b></span><br><br>
    			</p>
    				<figure style="display:flex; margin-left:100px">
					 <img src="assets/images/background.png" alt="background" width="50%" height="10%" style="border-radius: 0px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <img src="assets/images/background1.png" alt="background1" width="50%" height="10%" style="border-radius: 0px"/>
					</figure><br>

					<figure style="display:flex; margin-left:100px">
					 <img src="assets/images/background1.png" alt="background1" width="50%" height="10%" style="border-radius: 0px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <img src="assets/images/background.png" alt="background" width="50%" height="10%" style="border-radius: 0px"/>
					</figure><br>


					<figure style="display:flex; margin-left:100px">
					 <img src="assets/images/background.png" alt="background" width="50%" height="10%" style="border-radius: 0px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <img src="assets/images/background1.png" alt="background1" width="50%" height="10%" style="border-radius: 0px"/>
					</figure><br>
					<span style="color:#943126; margin-left:100px"><b>Read more...</b></span>
    		</div><br>
    		<hr style="width: 60%; margin-left: 60px"><br><br>

    		<div class="col-8">
    			<p style="margin-left: 70px; text-align: justify;">
    				<img src="assets/images/play.png" alt="play" width="3%" height="3%">&nbsp;&nbsp;
    				<span style="color:#943126; font-size:20px; font-family:Tahoma;"><b>HIGH LEVEL CUSTOMER CARE</b></span><br><br>
    				<span style=" text-align:justify-all; line-height: 20px; color: #909497;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span><br><br>
    				<span style="color:#943126;"><b>Read more...</b></span>
    			</p>
    		</div><br>

    		<hr style="width: 60%; margin-left: 60px"><br><br>

    		<div class="col-8">
    			<p style="margin-left: 70px; text-align: justify;">
    				<img src="assets/images/play.png" alt="play" width="3%" height="3%">&nbsp;&nbsp;
    				<span style="color:#943126; font-size:20px; font-family:Tahoma;"><b>WE GUARANTEE OUR WORK</b></span><br><br>
    				<span style=" text-align:justify-all; line-height: 20px; color: #909497;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span><br><br>
    				<span style="color:#943126;"><b>Read more...</b></span>
    			</p>
    		</div><br>
    	</div>

    	<div class="col-3">

    			<p style="margin-left: -100px;text-align: justify; margin-right: 30px ">
    				<img src="assets/images/play.png" alt="play" width="5%" height="5%">&nbsp;&nbsp;
    				<span style="color:#943126; font-size:25px; font-family:Tahoma;"><b>Testimonial</b></span><br><br>
    				<span style="line-height: 20px; color: #909497;text-align: justify;">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galley of type and scrambled it to make a type specimen book."</span><br><br>
    				<span style="color:#943126; font-size: 15px "><b>Aman<br>13.11.2018</b></span>

    			</p>	<br><br><br>
                 <hr style="width: 100%; margin-left: -60px"><br><br>
    			 <br><br><br><br>

    		    <p style="margin-left: -100px;text-align: justify; ">
    				<img src="assets/images/play.png" alt="play" width="5%" height="5%">&nbsp;&nbsp;
    				<span style="color:#943126; font-size:25px; font-family:Tahoma;"><b>Order Now</b></span><br><br>
    			</p>	<br><br><br>

    			<form style="margin-left: -70px">
    				<label style="color:#943126; font-size:18px; font-family:Tahoma;">FirstName:</label><br><br>
    				<input type="text" name="" class="firstname" placeholder="Enter your firstname..."><br><br>

    				<label style="color:#943126; font-size:18px; font-family:Tahoma; width: 100%;">LastName:</label><br><br>
    				<input type="text" name="" class="lastname"placeholder="Enter your lastname..."><br><br>

    				<label style="color:#943126; font-size:18px; font-family:Tahoma; width: 100%;">Email:</label><br><br>
    				<input type="text" name="" class="email" placeholder="Enter your email..."><br><br>
    				<textarea rows="9" cols="40" placeholder="Enter your query..."></textarea>
    			</form>

    			<br><br>

    		    <p style="margin-left: -100px;text-align: justify; ">
    				<img src="assets/images/play.png" alt="play" width="5%" height="5%">&nbsp;&nbsp;
    				<span style="color:#943126; font-size:25px; font-family:Tahoma;"><b>Order Clients</b></span><br><br>
    			</p>

    			<figure style="display:flex; margin-left:-100px">
					 <img src="assets/images/dell1.png" alt="dell1" width="40%" height="10%" style="border-radius: 10px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <img src="assets/images/arris.png" alt="arris" width="40%" height="10%" style="border-radius: 10px"/>
					</figure><br>

					<figure style="display:flex; margin-left:-100px">
					 <img src="assets/images/arris.png" alt="dell1" width="40%" height="10%" style="border-radius: 10px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <img src="assets/images/dell1.png" alt="arris" width="40%" height="10%" style="border-radius: 10px"/>
					</figure><br>

					<figure style="display:flex; margin-left:-100px">
					 <img src="assets/images/dell1.png" alt="dell1" width="40%" height="10%" style="border-radius: 10px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <img src="assets/images/arris.png" alt="arris" width="40%" height="10%" style="border-radius: 10px"/>
					</figure><br>

					<figure style="display:flex; margin-left:-100px">
					 <img src="assets/images/arris.png" alt="dell1" width="40%" height="10%" style="border-radius: 10px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <img src="assets/images/dell1.png" alt="arris" width="40%" height="10%" style="border-radius: 10px"/>
					</figure><br>
    	</div>

    	</div><br>



