
     <div class="row" id="row2">
    	<div class="col-3" id="row21">
    		<img src="assets/images/xhtml.png" alt="xhtml" width="30%" height="40%">
    		<p>XHTML/CSS</p>
    		<button class="button2">$79/Page</button>
    	</div>

    	<div class="col-3" id="row21">
    		<img src="assets/images/wordpress.jpg" alt="wwordpress" width="30%" height="40%">
    		<p>WORDPRESS TEMPLATE</p>
    		<button class="button2">$195</button>
    	</div>

    	<div class="col-3" id="row21">
    		<img src="assets/images/joomla.png" alt="joomla" width="30%" height="40%">
    		<p>JOOMLA! TEMPLATE</p>
    		<button class="button2">$195</button>
    	</div>
    </div>
